$btn_color: #38AEF0;
$text_color: #FFFFFF;
$side_bar_top_color: #253141;
$side_bar_under_color: #2f3e51;
$current_group_color: #EEEEEE;
$current_group_name_color: #333333;
$current_group_member_color: #999999;
$messages_user_name_color: #434A54;
$create_color: #AAAAAA;
$notice_background_color: #38AEF0;
$alert_background_color: #F35500;
